{% load static %}
<div class="max-w-max mt-4 mb-4 m-4 inline-flex overflow-hidden p-3 bg-smoke border border-black rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="col-md-6">
        <div class="grid">
            <div>
                <img class="h-auto max-w-sm rounded-lg"
                    src="{% static 'img/advan.jpg' %}" alt="">
            </div>
            <div class="grid grid-cols-4 rounded-lg mt-3 p-2 gap-4 bg-smoke border border-black">
                <div>
                    <img class="h-auto max-w-20 rounded-lg hover:opacity-70 border border-black"
                        src="{% static 'img/awryzen4.png' %}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-20 rounded-lg hover:opacity-70 border border-black"
                        src="{% static 'img/wokplus.png' %}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-20 rounded-lg hover:opacity-70 border border-black"
                        src="{% static 'img/workplus.jpg' %}" alt="">
                </div>
                <div>
                    <img class="h-auto max-w-20 rounded-lg hover:opacity-70 border border-black"
                        src="{% static 'img/awryzen2.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mx-4 inline-grid overflow-hidden">
        <div class="w-full text-left bg-white border border-black rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
            <h5 class="mb-2 text-2xl font-bold text-gray-900 dark:text-white">Laptop Advan Workplus Ryzen 5 6600H 16gb DDR5 iPS FHD 512gb window 11</h5>
            <div class="items-center flex justify-start space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
                <div class="flex items-center">
                    <p class="mr-1">4.5</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="w-full flex items-center">
                    <p style="padding-bottom: 3px;">|</p>
                    <p class="ml-2 mr-2">1.8k Reviews</p>
                    <p style="padding-bottom: 3px;">|</p>
                </div>
                <h5 class="text-4xl font-bold text-gray-900 dark:text-white">Rp7.099.000</h5>
            </div>
            <hr class="mt-4 border-black sm:mx-auto dark:border-black lg:my-4">
            <div class="items-center flex justify-start space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
                <div class="flex items-center">
                    <p>Spesifikasi Utama:<br>
                        Prosesor: AMD Ryzen 5 6600H, hingga 4,5 GHz, 6 Core, 12 Threads <br>
                        RAM: 16 GB LPDDR5 6400 MHz on board Dual Channel 128-bit <br>
                        Penyimpanan: SSD 512 GB NVMe PCIe 3.0, dapat di-upgrade (tersedia slot SSD tambahan) <br>
                        Layar: 14 inci, rasio 16:10, FHD 1920×1200, panel IPS <br>
                        Grafis: AMD Radeon 660M Graphics arsitektur RDNA2 <br>
                        Sistem Operasi: Windows 11 Original <br>
                        <br>
                        Fitur Tambahan: <br>
                        Port:<br>
                        - 2x USB Type-C 3.2 Gen1 (PD/DP/Charger/Data)<br>
                        - 2x USB 3.2 Gen1<br>
                        - 1x HDMI 2.0<br>
                        - 1x Jack Earphone 3.5mm<br>
                        - 1x Micro SD<br>
                        Konektivitas: Wi-Fi 6 (802.11 b/g/n/ac/ax), Bluetooth<br>
                        Baterai: 58 Wh<br>
                        Kamera: Ya<br>
                        Keyboard: Backlit, travel distance 1,4 mm, dilengkapi dengan sensor sidik jari<br>
                        <br>
                        Keunggulan Produk:<br>
                        - Desain ringan dengan berat kurang dari 1,3 kg, cocok untuk mobilitas tinggi<br>
                        - Layar dapat dibuka hingga 180°, memudahkan presentasi dan kolaborasi<br>
                        - Keamanan tambahan dengan sensor sidik jari<br>
                        <br>
                        Cocok Untuk:<br>
                        - Profesional yang membutuhkan perangkat untuk bekerja, pemrograman, pembuatan konten, dan gaming ringan<br>
                        <br>
                        Garansi:<br>
                        - Garansi resmi Advan 1 tahun<br>
                        <br>
                        Bonus (Opsional):<br>
                        - Tidak disebutkan<br>
                        </p>
                </div>
            </div>
        </div>

    </div>
</div>